.stack {
  display: flex;
  flex-direction: column;
  jusitfy-content: flex-start;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space, 1.5em);
}

.fullWidth {
  width: 100%;
}
