.box {
  --border-thin: 1px;
  padding: var(--s1);
  border: var(--border-thin) solid;
  border-radius: 0.5rem;
  outline: var(--border-thin) transparent;
  outline-offset: calc(var(--border-thin) * -1);

  --color-light: #fff;
  --color-dark: #000;
  color: var(--color-dark);
  background-color: var(--color-light);
}

/* .box *:not(.button) {
  color: inherit;
} */

.box.invert {
  color: var(--color-light);
  background-color: var(--color-dark);
}

.box:hover,
.box:focus {
  border: 2px solid;
}
